.DS_Store
**/node_modules
!/objj-parser-loose/node_modules
/.tern-port
/local
/objj-parser/dist
/objj-parser-loose/dist
/objj-parser-walk/dist
/yarn.lock
!/objj-parser/dist/objj-parser.d.ts
!/objj-parser/dist/objj-parser.mjs.d.ts